@import '../common.styl'


.root
  padding: 0 0 0 20px

.groupTitle
  padding: 10px
  cursor: pointer
  &:hover
    background-color: rgba(0,0,0,0.1);

.question
  padding: 10px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis